<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoupdaterdotNet" version="1.2.1" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.2" targetFramework="net45" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.297" targetFramework="net45" requireReinstallation="True" />
  <package id="MediaBrowser.Common" version="3.0.345" targetFramework="net45" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" requireReinstallation="True" />
  <package id="Selenium.Support" version="2.40.0" targetFramework="net45" requireReinstallation="True" />
  <package id="Selenium.WebDriver" version="2.40.0" targetFramework="net45" requireReinstallation="True" />
  <package id="SimpleBrowser" version="0.5.12" targetFramework="net45" requireReinstallation="True" />
  <package id="SimpleBrowser.WebDriver" version="0.5.13" targetFramework="net45" requireReinstallation="True" />
  <package id="WebSocket4Net" version="0.8" targetFramework="net45" requireReinstallation="True" />
</packages>